
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<!-- start: HEAD -->
<head>
    <title>Login</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Fonts/css/font-awesome.min.css" rel="stylesheet" />
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link href="~/styles.css" rel="stylesheet" />
    <!-- end: CLIP-TWO CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login">
    <!-- start: LOGIN -->
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <!-- start: LOGIN BOX -->
            <div class="box-login" style="margin-top:75px;">
                @RenderBody();
            </div>
            <!-- end: LOGIN BOX -->
        </div>
    </div>
    <!-- end: LOGIN -->
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/Bootstrap/bootstrap.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
</body>
<!-- end: BODY -->
</html>

