@{
    ViewData["Title"] = "About";
}
<div class="container-fluid container-fullw bg-white">
    @*<section id="page-title" class="padding-top-15 padding-bottom-15">*@
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    @*</section>*@
</div>
