@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid container-fullw bg-white">

    <h2>@ViewData["Title"]</h2>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
